
@{
    Layout = "~/Views/User/Profil.cshtml";
}
<div id="item-body">



    <div class="item-list-tabs no-ajax" id="subnav">
        <ul></ul>
    </div><!-- .item-list-tabs -->



    <div class="list-group list-group-lg">
        <div class="list-group-item">
            <article id="post-3272" class="bp_members type-bp_members item hover m-b-none clearfix post-3272 playlist type-playlist status-publish has-post-thumbnail hentry even">
                <div class="pos-rlt pull-left m-r">
                    <div class="item-overlay opacity r bg-black">
                        <div class="center text-center m-t-n-sm">
                            <a href="javascript:;" data-id="3272" class="play-me i-lg">
                                <i class="icon-control-play text"></i>
                                <i class="icon-control-pause text-active"></i>
                            </a>
                        </div>
                    </div>
                    <a href="" data-pjax="" title="" class="thumb-md">
                        <img width="150" height="150" src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/photo-1422022098106-b3a9edc463af-150x150.jpeg" class="r img-full wp-post-image" alt="" srcset="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/photo-1422022098106-b3a9edc463af-150x150.jpeg 150w, http://flatfull.com/wp/musik/wp-content/uploads/2015/07/photo-1422022098106-b3a9edc463af-350x350.jpeg 350w" sizes="(max-width: 150px) 100vw, 150px">
                    </a>
                </div>

                <div class="clear">
                    <a href="" data-pjax="" title="" class="text-ellipsis font-bold m-b-sm"></a>
                    <span class="text-muted"><i class="icon-playlist text-xs m-r-xs"></i> 1</span>
                </div>
            </article>
        </div>
        <div class="list-group-item">
            <article id="post-3271" class="bp_members type-bp_members item hover m-b-none clearfix post-3271 playlist type-playlist status-publish has-post-thumbnail hentry odd">
                <div class="pos-rlt pull-left m-r">
                    <div class="item-overlay opacity r bg-black">
                        <div class="center text-center m-t-n-sm">
                            <a href="javascript:;" data-id="3271" class="play-me i-lg">
                                <i class="icon-control-play text"></i>
                                <i class="icon-control-pause text-active"></i>
                            </a>
                        </div>
                    </div>
                    <a href="" data-pjax="" title="" class="thumb-md">
                        <img width="150" height="150" src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b1-150x150.jpg" class="r img-full wp-post-image" alt="" srcset="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b1-150x150.jpg 150w, http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b1.jpg 256w" sizes="(max-width: 150px) 100vw, 150px">
                    </a>
                </div>

                <div class="clear">
                    <a href="" data-pjax="" title="" class="text-ellipsis font-bold m-b-sm"></a>
                    <span class="text-muted"><i class="icon-playlist text-xs m-r-xs"></i> 1</span>
                </div>
            </article>
        </div>
        <div class="list-group-item">
            <article id="post-3270" class="bp_members type-bp_members item hover m-b-none clearfix post-3270 playlist type-playlist status-publish has-post-thumbnail hentry even">
                <div class="pos-rlt pull-left m-r">
                    <div class="item-overlay opacity r bg-black">
                        <div class="center text-center m-t-n-sm">
                            <a href="javascript:;" data-id="3270" class="play-me i-lg">
                                <i class="icon-control-play text"></i>
                                <i class="icon-control-pause text-active"></i>
                            </a>
                        </div>
                    </div>
                    <a href="" data-pjax="" title="ad" class="thumb-md">
                        <img width="150" height="150" src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b17-150x150.jpg" class="r img-full wp-post-image" alt="" srcset="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b17-150x150.jpg 150w, http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b17.jpg 256w" sizes="(max-width: 150px) 100vw, 150px">
                    </a>
                </div>

                <div class="clear">
                    <a href="" data-pjax="" title="ad" class="text-ellipsis font-bold m-b-sm">ad</a>
                    <span class="text-muted"><i class="icon-playlist text-xs m-r-xs"></i> 3</span>
                </div>
            </article>
        </div>
    </div>
    <div class="nav-links m-t-md m-b-md clearfix"></div>

</div>

